  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

 <head>
        <title>Weather Data</title>
        <link rel="stylesheet" type="text/css" href="style.css">
 </head>
 <body >
 	<h2>Weather API</h2>
		        
        <form action="weather" method="post">
            <div>
                <label>Enter the city name to check the weather</label>    
                <input type="text" name="city">
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>